body {
	font-family: Open Sans, sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: #000;
	font-weight: 400;
	background-color: #EEEEEE;
	overflow-x: hidden!important;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	}


.container1 {
	text-align: center;
}

.Supercontainer{
	text-align: center;
	max-width: 810px;
	padding: 30px;

}

.container20 {
	text-align: center;
}



.Container01 {
	text-align: center;
}

.Container3 {
	text-align: center;
	max-width: 810px;
	padding: 30px;
}


.form-control {
	margin-bottom: 10px;
}

.curso {
	max-width: 600px;
	margin: 0 auto;
}

.curso img {
	max-width: 50%;
	height: 100px;
	width: 100px;
	display: block;
	margin-top: 20px;
	
}
.curso h2 {
	padding: 10px 20px 20;
	text-align: center;
	margin-top: 10px;
}

h1 {
	font-family: Open Sans, sans-serif;
	text-align: center;
    padding: 10px 20px 20;
    margin-top: 10px;
}

h2 {
	font-family: Open Sans, sans-serif;
	text-align: center;
    padding: 10px 20px 20;
    margin-top: 10px;
}

h3 {
	font-family: Open Sans, sans-serif;
	text-align: center;
	padding: 10px 20px 20;
	margin-top: 10px;
	color: #ff6900;
}


image {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}


#logo-container {
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 1000;
}

#Logo {
width: 300px;
height: auto;
}

.infotable th, .infotable td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px 15px;
}
.infotable{
	width: 100%;
}
.infotable th{
	background: #000;
	color: #fff;
}
.loginform{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

footer{
	background:#007BFF;
		color: #ffffff;
		padding: 20px 0px 5px 5px;
		margin-top: 20px;
}

.error{
	color: red;
	font-style: italic;
}

input#photo {
    width: 260px;
}

img.showimg{
	border-radius: 50%;
	height: 40px;
	width: 40px;
}

.form-group {
	text-align: center;
}

.btn-custom {
	background-color: #EEEEEE;
	color: #000;
	font-size: 14px;
	padding: 0;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
}

.btn-custom:hover {
	background-color: #fcb900;
}

